<div class="poker-table">
<div class="vertical-center">
  <div class="container">
    <!-- Heads Up -->
    <h3 class="text-center">Heads Up</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
    </div>
    </span>
    <hr>
    <!-- 3 Max -->
    <h3 class="text-center">3 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
    </div>
    </span>
    <hr>
    <!-- 4 Max -->
    <h3 class="text-center">4 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <hr>
    </span>

    <!-- 5 Max -->
    <h3 class="text-center">5 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <hr>
    </span>

    <!-- 6 Max -->
    <h3 class="text-center">6 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    </span>
    <hr>
    <!-- 7 Max -->
    <h3 class="text-center">7 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <hr>
    </span>
    <!-- 8 Max -->
    <h3 class="text-center">8 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <hr>
    </span>
    <!-- 9 Max -->
    <h3 class="text-center">9 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <hr>
    </span>
    <!-- 10 Max -->
    <h3 class="text-center">10 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <hr>
    </span>
    <!-- 11 Max -->
    <h3 class="text-center">11 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset-1 well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <hr>
    </span>
    <!-- 12 Max -->
    <h3 class="text-center">12 Max</h3>
    <br>
    <span ng-if="vm.NumSeats==6">
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 well"></div>
      <div class="col-4 offset-1 well"></div>
      <div class="col-2 offset-1 well"></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
      <div class="col-2 offset well"></div>
    </div>
    <hr>
    </span>
  </div>
</div>
</div>