<div ng-controller="LoginCtrl">
    <form 
        action="/" 
        name="login">
        Username: 
        <input 
            type="text" 
            name="username" 
            id="username" 
            ng-model="username"
            required="required">
        <div 
            ng-if="login.username.$touched"
            ng-messages="login.username.$error">
            <div ng-message="required">
                Username is required
            </div>
        </div>
        <br>
        Password: 
        <input 
            type="password" 
            name="password" 
            id="password" 
            ng-model="password"
            required="required">
        <div 
            ng-if="login.password.$touched"
            ng-messages="login.password.$error">
            <div ng-message="required">
                Password is required
            </div>
        </div>
        <br>
        <button 
            type="button"
            ng-click="submit()">
            Login
        </button>
    </form>
</div>