<div class="poker-table">
<div class="vertical-center">
    <div class="container">
        <!-- Heads Up -->
        <span ng-if="vm.game.NumSeats==2">
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
            </div>
            <hr>
        </span>
        <!-- 3 Max -->
        <span ng-if="vm.game.NumSeats==3">
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
            </div>
            <hr>
        </span>
        <!-- 4 Max -->
        <span ng-if="vm.game.NumSeats==4">
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <hr>
        </span>
        <!-- 5 Max -->
        <span ng-if="vm.game.NumSeats==5">
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <hr>
        </span>

        <!-- 6 Max -->
        <span ng-if="vm.game.NumSeats==6">
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <hr>
        </span>
        <!-- 7 Max -->
        <span ng-if="vm.game.NumSeats==7">
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <hr>
        </span>
        <!-- 8 Max -->
        <span ng-if="vm.game.NumSeats==8">
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <hr>
        </span>
        <!-- 9 Max -->
        <span ng-if="vm.game.NumSeats==9">
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <hr>
        </span>
        <!-- 10 Max -->
        <span ng-if="vm.game.NumSeats==10">
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <hr>
        </span>
        <!-- 11 Max -->
        <span ng-if="vm.game.NumSeats==11">
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset-1 well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <hr>
        </span>
        <!-- 12 Max -->
        <span ng-if="vm.game.NumSeats==12">
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 well"></div>
                <div class="col-4 offset-1 well"></div>
                <div class="col-2 offset-1 well"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
                <div class="col-2 offset well"></div>
            </div>
            <hr>
        </span>
  </div>
</div>
</div>