<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
        <div class="form-group" 
             ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <label for="username">Username</label>
            <input type="text" name="username" 
                   class="form-control" ng-model="vm.username" required />
        </div>
        <div class="form-group" 
             ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
            <label for="email">Email</label>
            <input type="text" name="email" 
                   class="form-control" ng-model="vm.email" required />
        </div>
        <div class="form-group" 
             ng-class="{ 'has-error': form.$submitted && form.screen-name.$invalid }">
            <label for="screen-name">Screen name</label>
            <input type="text" name="screen-name" 
                   class="form-control" ng-model="vm.screenName" required />
        </div>
        <div class="form-group" 
             ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" name="password" 
                   class="form-control" ng-model="vm.password" required />
        </div>
        <div class="form-group" 
             ng-class="{ 'has-error': form.$submitted && form.verify-password.$invalid }">
            <label for="verify-password">Verify password</label>
            <input type="password" name="verify-password" 
                   class="form-control" ng-model="vm.verifyPassword" required />
        </div>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
        </div>
        <div ng-if="vm.error" class="alert alert-danger">{{ vm.error }}</div>
    </form>
</div>